.btn-lg {
  padding: 1rem 2rem;
  font-size: 18px;
  border-radius: 50px;
  width: 50%;
}
.feature-font {
  font-size: 4rem;
  margin-bottom: 5%;
}

.marketing {
  padding: 4rem 1rem;
}

.section-3 {
  padding: 6rem 2rem;
}

.nav-link:visited,
.nav-link:link {
  border-bottom: 1px solid transparent;
}

.nav-link:hover,
.nav-link:active {
  border-bottom: 1px solid #eedf14;
}
.view-more-button {
  font-size: 2rem;
  text-decoration: none;
  color: #eedf14;
  text-align: center;
  margin-left: 4%;
}

.view-more-button:hover,
.view-more-button:active {
  border-bottom: 1px solid #eedf14;
  color: #eedf14;
}

.bi-image-fill {
  font-size: 6rem;
  margin: auto;
}

.view-service-font {
  font-weight: 500;
}

.view-case-link {
  text-decoration: none;
}
.view-case-link:hover,
.view-case-link:active {
  background-color: #eedf14;
  border-radius: 10px;
  padding: 0.5rem 0.5rem;
}

.bi-box-arrow-right {
  color: rgb(131, 131, 231);
  font-size: 3rem;
}

.description {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
}

.title-ourProjectArchive {
  font-weight: 400;
}

.scale-element:hover {
  transform: scale(1.1);
  transition: 1s;
}

.bi-arrow-up-square {
  color: #fff;
  font-size: 2.5rem;
}

.bi-archive {
  color: #fff;
  font-size: 2.5rem;
}
